div.record {
    text-align: center;
    font-style: oblique;
    font-size: 20px;
}

#output {
    width: 700px;
    height: 80px;
    background-color: wheat;
    font-size: 40px;
}

a {
    margin-right: 50px;
}

div.result {
    margin-top: 10px;
    font-style: normal;
    display: flex;
    text-align: center;
    color: rgb(11, 11, 219);
}

div.result2 {
    font-style: normal;
    display: flex;
    text-align: center;
    color: rgb(11, 11, 219);
}
